/* NavBar.css */

/* Estilos generales de la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c2dbe9;
  padding: 10px;
}

/* Estilos para el logo en la barra de navegación */
.navbar__logo {
  height: 30px;
  width: 20px;
}

/* Estilos para el menú en la barra de navegación */
.navbar__menu {
  display: flex;
  list-style: none;
  margin: 0; /* Corregido: debería ser 0 en lugar de 10 para evitar márgenes adicionales */
  padding: 0;
}

.navbar__menu li {
  margin-right: 10px;
}

.navbar__menu li a {
  text-decoration: none;
  color: #333;
}

/* Estilos para el carrito en la barra de navegación */
.navbar__cart {
  margin-left: 10px;
}
